{/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-comentarios {
    background-color: mediumturquoise;
    height: 100vh;
}
.div1-comentarios {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.div2-comentarios {
    background-color: indianred;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12%;
    margin: 2rem 0 2rem 2rem;
    width: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px darkcyan;
}
.div2-comentarios input {
    height: 3rem; 
    width: 50%;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px darkred;
    padding-left: 10px;
}
.div3-comentarios {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.div4-comentarios {
    background-color: bisque;
    width: 14%;
    text-align: center;
    padding: 10px 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px darkcyan;
}*/}